<div id="js-comment-<%= posts.id %>">
  <p id="js-comment-label-<%= posts.id %>"><%= posts.caption %></p>
  <p id="js-comment-post-error-<%= posts.id %>" class="text-danger"></p>
  <textarea style="display: none;" id="js-textarea-comment-<%= posts.id %>" class="form-control comment-post-error"><%= posts.caption %></textarea>
  <div id="js-comment-button-<%= posts.id %>" style="display: none;">
    <button data-cancel-id=<%= posts.id %> type="button" class="btn btn-light comment-cancel-button">キャンセル</button>
    <button data-update-id=<%= posts.id %> type="submit" class="btn btn-success comment-update-button">更新</button>
  </div>
</div>