<% post.comments.each do |comment|%>
  <div>
    <!--<#%= link_to post_path(comment) do %>-->
    <div id="js-comment-<%= comment.id %>">
      <div id="js-comment-label-<%= comment.id %>">
        <section>
          <%= comment.comment %>
          <span data-comment-id="<%= comment.id %>" class="js-edit-comment-button">
            <i class="fas fa-edit text-primary"></i>
          </span>
          <span>
            <%= link_to post_path(post.id), method: :delete, remote: true, class: 'js-delete-comment-button', data: {confirm: 'よろしいですか'} do %>
              <%= icon 'fas', 'trash' %>
            <% end %>
          </span>
        </section>
      </div>
      <div style="display: none;" id="js-textarea-<%= comment.id %>">
        <textarea id="js-textarea-comment-<%= comment.id %>" class="form-control comment-post-error"><%= comment.comment %></textarea>
        <button data-cancel-id=<%= comment.id %> type="button" class="btn btn-light comment-cancel-button mt-2">
          キャンセル
        </button>
        <button data-update-id=<%= comment.id %> type="submit" class="btn btn-success comment-update-button mt-2">
          更新
        </button>
      </div>
    </div>
  </div>
<% end %>
