<% post.comments.each do |comment|%>
    <span data-comment-id="<%= comment.id %>" class="comment-button">
      <i class="far fa-comment-alt "></i>
    </span>
  <div style="display: none;" id="js-textarea-post-<%= comment.id %>">
    <textarea id="js-textarea-comment-" class="form-control js-comment-post-error"><%= comment.comment %></textarea>
    <button data-cancel-id=<%= comment.id %> type="button" class="btn btn-light comment-cancel-button mt-2">
      キャンセル
    </button>
    <button data-update-id=<%= comment.id %> type="submit" class="btn btn-success comment-update-button mt-2">
      投稿
    </button>
  </div>
<% end %>

