<div class="container">
  <div class="card-group row-cols-1 row-cols-md-3 g-4 m-4">
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
          <% image = HomeImage.find(1) %>
          <%= link_to image.image.url , "data-lightbox": image.image do %>
            <%=image_tag asset_path(image.image.to_s), width:"100%", height:"150px", class: "user.show" %>
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><strong>登録者情報</strong></h5>
          <p class="card-text">
            投稿者画像・名前・メールアドレスが確認できます。
            編集ボタンを押すと編集画面に遷移します。
            <p></p>
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
          <% image = HomeImage.find(2) %>
          <%= link_to image.image.url , "data-lightbox": image.image do %>
            <%=image_tag asset_path(image.image.to_s), width:"100%", height:"150px", class: "user.show" %>
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><strong>登録者編集</strong></h5>
          <p class="card-text">
            投稿者画像・名前・メールアドレスの編集ができます。
            退会するボタンを押すと退会確認画面に遷移します。
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
          <% image = HomeImage.find(3) %>
          <%= link_to image.image.url , "data-lightbox": image.image do %>
            <%=image_tag asset_path(image.image.to_s), width:"100%", height:"150px", class: "user.show" %>
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><strong>退会画面</strong></h5>
          <p class="card-text">
            退会しないボタンを押すと、登録者情報へ戻ります。
            退会するボタンを押すと、退会が確定し、トップページへ遷移します。
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <% image = HomeImage.find(4) %>
          <%= link_to image.image.url , "data-lightbox": image.image do %>
            <%=image_tag asset_path(image.image.to_s), width:"100%", height:"150px", class: "user.show" %>
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><strong>投稿一覧</strong></h5>
          <p class="card-text">
            投稿一覧ページには左側に投稿、右側にGoogle mapが表示されています。
            投稿には上に投稿動画、下にいいね、コメント、投稿編集ボタンが実装されています。
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <% image = HomeImage.find(5) %>
          <%= link_to image.image.url , "data-lightbox": image.image do %>
            <%=image_tag asset_path(image.image.to_s), width:"100%", height:"150px", class: "user.show" %>
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><strong>投稿編集</strong></h5>
          <p class="card-text">
            投稿一覧の投稿編集ボタンを押すと投稿内容の編集、投稿の削除ができます。
            <p></p></br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>