<div class="container1">
  <div class="row1">
    <div class="col1">
    <%= render 'maps/maps', posts: @posts %>
    </div>
  </div>
  <div class="row2" id="wrapper">
    <div class="col2">
      <% @posts.each do |posts| %>
        <div class="box" id="makeImg">
          <%= render 'videos/video', post: posts %>
          <div class="likebuttons" id="like_buttons_<%= posts.id %>">
            <%= render 'likes/likes', post: posts %>
          </div>
          <div>
        <!--<#% if posts.user_id == current_user %>-->
          <%= link_to post_path(posts.id) do %>
            <%= current_user.name %>
          <% end %>
        <!--<#% else %>-->
        <!--  <#%= posts.user.name %>-->
        <!--<#% end %>-->
            <%= render 'comments/comments', post: posts %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>