<div class="container1">
  <div class="row1">
    <div class="col1">
    <%= render 'maps/maps', posts: @posts %>
    </div>
  </div>
  <div class="row2" id="wrapper">
    <div class="col2 mb-3">
      <% @posts.each do |posts| %>
        <div class="box" id="makeImg">
          <% if posts.user == current_user %>
            <div class="profile">
              <% if posts.user.image? %>
                <%= image_tag asset_path(posts.user.image.thumb.url), size: "40x40", class: "user-icon" %>
              <% else %>
                <%= image_tag asset_path("default.jpg"), alt: "user-icon", size: "40x40", class: "user-icon" %>
              <% end %>
              <div class="profile_user_name"><strong><%= posts.user.name %></strong></div>
            </div>
          <% end %>
          <%= render 'videos/video', post: posts %>
          <section>
            <span class="likebuttons" id="like_buttons_<%= posts.id %>">
              <%= render 'likes/likes', post: posts %>
            </span>
              <%= link_to new_post_comment_path(posts) do %>
                <i class="far fa-comment-alt "></i>
              <% end %>
            <% if posts.user == current_user %>
            <span class="detailbuttons">
              <%= link_to post_path(posts) do %>
                <i class="far fa-file-alt"></i>
              <% end %>
            </span>
            <% end %>
          </section>
          <p class="caption"><%= posts.caption %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>