<div class="container1">
  <div class="row1">
    <div class="col1">
    <%= render 'maps/maps', posts: @posts %>
    </div>
  </div>
  <div class="row2" id="wrapper">
    <div class="col2">
      <% @posts.each do |posts| %>
        <div class="box" id="makeImg">
          <%= render 'videos/video', post: posts %>
          <section>
            <span class="likebuttons" id="like_buttons_<%= posts.id %>">
              <%= render 'likes/likes', post: posts %>
            </span>
            <span data-comment-id="<%= posts.id %>" class="comment-button">
              <i class="far fa-comment-alt ">
              <%= render 'comments/newcomment', post: posts %>
              </i>
            </span>
            <% if posts.user == current_user %>
            <span class="detailbuttons">
              <%= link_to post_path(posts) do %>
                <i class="far fa-file-alt"></i>
              <% end %>
            </span>
            <% end %>
          </section>
          <p class="caption"><%= posts.caption %></p>
          <%= render 'comments/comments', post: posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>